# Подготовка датасета

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('characters.csv')
df.head()

,character_name,star_rarity,region,vision,arkhe,weapon_type,release_date,model,constellation,birthday,...,atk_1_20,def_1_20,ascension_special_stat,special_0,special_1,special_2,special_3,special_4,special_5,special_6
0,Albedo,5,Mondstadt,Geo,NaN,Sword,2020-12-23,Medium Male,Princeps Cretaceus,13-Sep,...,20,68,Geo DMG Bonus,0.00%,0.00%,7.20%,14.40%,14.40%,21.60%,28.80%
1,Alhaitham,5,Sumeru,Dendro,NaN,Sword,2023-01-18,Tall Male,Vultur Volans,11-Feb,...,24,60,Dendro DMG Bonus,0.00%,0.00%,7.20%,14.40%,14.40%,21.60%,28.80%
2,Aloy,5,NaN,Cryo,NaN,Bow,2021-09-01,Medium Female,Nora Fortis,04-Apr,...,18,53,Cryo DMG Bonus,0.00%,0.00%,7.20%,14.40%,14.40%,21.60%,28.80%
3,Amber,4,Mondstadt,Pyro,NaN,Bow,2020-09-28,Medium Female,Lepus,10-Aug,...,19,50,ATK,0.00%,0.00%,6.00%,12.00%,12.00%,18.00%,24.00%
4,Arataki Itto,5,Inazuma,Geo,NaN,Claymore,2021-12-14,Tall Male,Taurus Iracundus,01-Jun,...,18,75,CRIT Rate,0.00%,0.00%,4.80%,9.60%,9.60%,14.40%,19.20%

In [3]:
df.columns

Index(['character_name', 'star_rarity', 'region', 'vision', 'arkhe',
       'weapon_type', 'release_date', 'model', 'constellation', 'birthday',
       'special_dish', 'affiliation', 'limited', 'voice_en', 'voice_cn',
       'voice_jp', 'voice_kr', 'ascension_specialty',
       'ascension_boss_material', 'ascension_material_0-2',
       'ascension_material_2-4', 'ascension_material_4-6', 'ascension_gem_0-1',
       'ascension_gem_1-3', 'ascension_gem_3-5', 'ascension_gem_5-6',
       'talent_material_1-2', 'talent_material_2-6', 'talent_material_6-10',
       'talent_book_1-2', 'talent_book_2-3', 'talent_book_3-4',
       'talent_book_4-5', 'talent_book_5-6', 'talent_book_6-7',
       'talent_book_7-8', 'talent_book_8-9', 'talent_book_9-10',
       'talent_weekly', 'hp_90_90', 'atk_90_90', 'def_90_90', 'hp_80_90',
       'atk_80_90', 'def_80_90', 'hp_80_80', 'atk_80_80', 'def_80_80',
       'hp_70_80', 'atk_70_80', 'def_70_80', 'hp_70_70', 'atk_70_70',
       'def_70_70', 'hp_60_70', 'atk_60_70', 'def_60_70', 'hp_60_60',
       'atk_60_60', 'def_60_60', 'hp_50_60', 'atk_50_60', 'def_50_60',
       'hp_50_50', 'atk_50_50', 'def_50_50', 'hp_40_50', 'atk_40_50',
       'def_40_50', 'hp_40_40', 'atk_40_40', 'def_40_40', 'hp_20_40',
       'atk_20_40', 'def_20_40', 'hp_20_20', 'atk_20_20', 'def_20_20',
       'hp_1_20', 'atk_1_20', 'def_1_20', 'ascension_special_stat',
       'special_0', 'special_1', 'special_2', 'special_3', 'special_4',
       'special_5', 'special_6'],
      dtype='object')

Уберем лишние столбцы

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 89 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   character_name           94 non-null     object
 1   star_rarity              94 non-null     int64
 2   region                   83 non-null     object
 3   vision                   94 non-null     object
 4   arkhe                    14 non-null     object
 5   weapon_type              94 non-null     object
 6   release_date             94 non-null     object
 7   model                    94 non-null     object
 8   constellation            94 non-null     object
 9   birthday                 94 non-null     object
 10  special_dish             83 non-null     object
 11  affiliation              84 non-null     object
 12  limited                  83 non-null     object
 13  voice_en                 94 non-null     object
 14  voice_cn                 94 non-null     object
 15  voice_jp                 94 non-null     object
 16  voice_kr                 94 non-null     object
 17  ascension_specialty      94 non-null     object
 18  ascension_boss_material  84 non-null     object
 19  ascension_material_0-2   94 non-null     object
 20  ascension_material_2-4   94 non-null     object
 21  ascension_material_4-6   94 non-null     object
 22  ascension_gem_0-1        94 non-null     object
 23  ascension_gem_1-3        94 non-null     object
 24  ascension_gem_3-5        94 non-null     object
 25  ascension_gem_5-6        94 non-null     object
 26  talent_material_1-2      94 non-null     object
 27  talent_material_2-6      94 non-null     object
 28  talent_material_6-10     94 non-null     object
 29  talent_book_1-2          94 non-null     object
 30  talent_book_2-3          94 non-null     object
 31  talent_book_3-4          94 non-null     object
 32  talent_book_4-5          94 non-null     object
 33  talent_book_5-6          94 non-null     object
 34  talent_book_6-7          94 non-null     object
 35  talent_book_7-8          94 non-null     object
 36  talent_book_8-9          94 non-null     object
 37  talent_book_9-10         94 non-null     object
 38  talent_weekly            94 non-null     object
 39  hp_90_90                 94 non-null     int64
 40  atk_90_90                94 non-null     int64
 41  def_90_90                94 non-null     int64
 42  hp_80_90                 94 non-null     int64
 43  atk_80_90                94 non-null     int64
 44  def_80_90                94 non-null     int64
 45  hp_80_80                 94 non-null     int64
 46  atk_80_80                94 non-null     int64
 47  def_80_80                94 non-null     int64
 48  hp_70_80                 94 non-null     int64
 49  atk_70_80                94 non-null     int64
 50  def_70_80                94 non-null     int64
 51  hp_70_70                 94 non-null     int64
 52  atk_70_70                94 non-null     int64
 53  def_70_70                94 non-null     int64
 54  hp_60_70                 94 non-null     int64
 55  atk_60_70                94 non-null     int64
 56  def_60_70                94 non-null     int64
 57  hp_60_60                 94 non-null     int64
 58  atk_60_60                94 non-null     int64
 59  def_60_60                94 non-null     int64
 60  hp_50_60                 94 non-null     int64
 61  atk_50_60                94 non-null     int64
 62  def_50_60                94 non-null     int64
 63  hp_50_50                 94 non-null     int64
 64  atk_50_50                94 non-null     int64
 65  def_50_50                94 non-null     int64
 66  hp_40_50                 94 non-null     int64
 67  atk_40_50                94 non-null     int64
 68  def_40_50                94 non-null     int64
 69  hp_40_40                 94 non-null     int64
 70  atk_40_40                94 non-null     int64
 71  def_40_40                94 non-null     int64
 72  hp_20_40                 94 non-null     int64
 73  atk_20_40                94 non-null     int64
 74  def_20_40                94 non-null     int64
 75  hp_20_20                 94 non-null     int64
 76  atk_20_20                94 non-null     int64
 77  def_20_20                94 non-null     int64
 78  hp_1_20                  94 non-null     int64
 79  atk_1_20                 94 non-null     int64
 80  def_1_20                 94 non-null     int64
 81  ascension_special_stat   94 non-null     object
 82  special_0                94 non-null     object
 83  special_1                94 non-null     object
 84  special_2                94 non-null     object
 85  special_3                94 non-null     object
 86  special_4                94 non-null     object
 87  special_5                94 non-null     object
 88  special_6                94 non-null     object
dtypes: int64(43), object(46)
memory usage: 65.5+ KB

In [5]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'Column {col}: {df[col].nunique()} unique values, {df[col].count()}/{df[col].size} not-null values')

Column character_name: 94 unique values, 94/94 not-null values
Column region: 6 unique values, 83/94 not-null values
Column vision: 7 unique values, 94/94 not-null values
Column arkhe: 3 unique values, 14/94 not-null values
Column weapon_type: 5 unique values, 94/94 not-null values
Column release_date: 49 unique values, 94/94 not-null values
Column model: 5 unique values, 94/94 not-null values
Column constellation: 86 unique values, 94/94 not-null values
Column birthday: 83 unique values, 94/94 not-null values
Column special_dish: 83 unique values, 83/94 not-null values
Column affiliation: 74 unique values, 84/94 not-null values
Column limited: 2 unique values, 83/94 not-null values
Column voice_en: 84 unique values, 94/94 not-null values
Column voice_cn: 75 unique values, 94/94 not-null values
Column voice_jp: 86 unique values, 94/94 not-null values
Column voice_kr: 82 unique values, 94/94 not-null values
Column ascension_specialty: 44 unique values, 94/94 not-null values
Column ascension_boss_material: 33 unique values, 84/94 not-null values
Column ascension_material_0-2: 13 unique values, 94/94 not-null values
Column ascension_material_2-4: 13 unique values, 94/94 not-null values
Column ascension_material_4-6: 13 unique values, 94/94 not-null values
Column ascension_gem_0-1: 8 unique values, 94/94 not-null values
Column ascension_gem_1-3: 8 unique values, 94/94 not-null values
Column ascension_gem_3-5: 8 unique values, 94/94 not-null values
Column ascension_gem_5-6: 8 unique values, 94/94 not-null values
Column talent_material_1-2: 13 unique values, 94/94 not-null values
Column talent_material_2-6: 13 unique values, 94/94 not-null values
Column talent_material_6-10: 13 unique values, 94/94 not-null values
Column talent_book_1-2: 15 unique values, 94/94 not-null values
Column talent_book_2-3: 15 unique values, 94/94 not-null values
Column talent_book_3-4: 15 unique values, 94/94 not-null values
Column talent_book_4-5: 15 unique values, 94/94 not-null values
Column talent_book_5-6: 15 unique values, 94/94 not-null values
Column talent_book_6-7: 15 unique values, 94/94 not-null values
Column talent_book_7-8: 15 unique values, 94/94 not-null values
Column talent_book_8-9: 15 unique values, 94/94 not-null values
Column talent_book_9-10: 15 unique values, 94/94 not-null values
Column talent_weekly: 29 unique values, 94/94 not-null values
Column ascension_special_stat: 16 unique values, 94/94 not-null values
Column special_0: 2 unique values, 94/94 not-null values
Column special_1: 2 unique values, 94/94 not-null values
Column special_2: 10 unique values, 94/94 not-null values
Column special_3: 10 unique values, 94/94 not-null values
Column special_4: 10 unique values, 94/94 not-null values
Column special_5: 10 unique values, 94/94 not-null values
Column special_6: 10 unique values, 94/94 not-null values

Убираем столбец 'arkhe', так как им обладает малая часть персонажей

Также уберем столбцы special_{1-5} (оставим только значения 1 уровня и 90 уровня), столбцы voice, ascension_material, ascension_gem, talent_book, talent_material, affiliation, special_dish, constellation

In [6]:
df.drop(['arkhe', 'constellation', 'affiliation', 'special_dish'], axis=1, inplace=True)

In [7]:
for i in range(1, 10):
    df.drop(['talent_book_'+str(i)+'-'+str(i+1)], axis=1, inplace=True)
for i in range(1, 6):
    df.drop(['special_'+str(i)], axis=1, inplace=True)
for i in range(3):
    df.drop(['ascension_material_'+str(2*i)+'-'+str(2*i+2)], axis=1, inplace=True)

In [8]:
df.drop(['voice_en', 'voice_cn', 'voice_jp', 'voice_kr', 'ascension_gem_0-1', 'ascension_gem_1-3', 'ascension_gem_3-5', 'ascension_gem_5-6', 'talent_material_1-2', 'talent_material_2-6', 'talent_material_6-10'], axis=1, inplace=True)

In [9]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'Column {col}: {df[col].nunique()} unique values, {df[col].count()}/{df[col].size} not-null values')

Column character_name: 94 unique values, 94/94 not-null values
Column region: 6 unique values, 83/94 not-null values
Column vision: 7 unique values, 94/94 not-null values
Column weapon_type: 5 unique values, 94/94 not-null values
Column release_date: 49 unique values, 94/94 not-null values
Column model: 5 unique values, 94/94 not-null values
Column birthday: 83 unique values, 94/94 not-null values
Column limited: 2 unique values, 83/94 not-null values
Column ascension_specialty: 44 unique values, 94/94 not-null values
Column ascension_boss_material: 33 unique values, 84/94 not-null values
Column talent_weekly: 29 unique values, 94/94 not-null values
Column ascension_special_stat: 16 unique values, 94/94 not-null values
Column special_0: 2 unique values, 94/94 not-null values
Column special_6: 10 unique values, 94/94 not-null values

Теперь посмотрим числовые признаки

In [10]:
for col in df.columns:
    if df[col].dtype != 'object':
        print(f'Column {col}: {df[col].count()}/{df[col].size} not-null values')

Column star_rarity: 94/94 not-null values
Column hp_90_90: 94/94 not-null values
Column atk_90_90: 94/94 not-null values
Column def_90_90: 94/94 not-null values
Column hp_80_90: 94/94 not-null values
Column atk_80_90: 94/94 not-null values
Column def_80_90: 94/94 not-null values
Column hp_80_80: 94/94 not-null values
Column atk_80_80: 94/94 not-null values
Column def_80_80: 94/94 not-null values
Column hp_70_80: 94/94 not-null values
Column atk_70_80: 94/94 not-null values
Column def_70_80: 94/94 not-null values
Column hp_70_70: 94/94 not-null values
Column atk_70_70: 94/94 not-null values
Column def_70_70: 94/94 not-null values
Column hp_60_70: 94/94 not-null values
Column atk_60_70: 94/94 not-null values
Column def_60_70: 94/94 not-null values
Column hp_60_60: 94/94 not-null values
Column atk_60_60: 94/94 not-null values
Column def_60_60: 94/94 not-null values
Column hp_50_60: 94/94 not-null values
Column atk_50_60: 94/94 not-null values
Column def_50_60: 94/94 not-null values
Column hp_50_50: 94/94 not-null values
Column atk_50_50: 94/94 not-null values
Column def_50_50: 94/94 not-null values
Column hp_40_50: 94/94 not-null values
Column atk_40_50: 94/94 not-null values
Column def_40_50: 94/94 not-null values
Column hp_40_40: 94/94 not-null values
Column atk_40_40: 94/94 not-null values
Column def_40_40: 94/94 not-null values
Column hp_20_40: 94/94 not-null values
Column atk_20_40: 94/94 not-null values
Column def_20_40: 94/94 not-null values
Column hp_20_20: 94/94 not-null values
Column atk_20_20: 94/94 not-null values
Column def_20_20: 94/94 not-null values
Column hp_1_20: 94/94 not-null values
Column atk_1_20: 94/94 not-null values
Column def_1_20: 94/94 not-null values

От характеристик оставим только значения 1_20 и 90_90 как параметры на 1 и 90 уровне соответственно

In [11]:
stats = ['hp', 'atk', 'def']
levels = ['20_20', '20_40', '40_40', '40_50', '50_50', '50_60', '60_60', '60_70', '70_70', '70_80', '80_80', '80_90']

for st in stats:
    for lvl in levels:
        df.drop(['_'.join([st, lvl])], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   character_name           94 non-null     object
 1   star_rarity              94 non-null     int64
 2   region                   83 non-null     object
 3   vision                   94 non-null     object
 4   weapon_type              94 non-null     object
 5   release_date             94 non-null     object
 6   model                    94 non-null     object
 7   birthday                 94 non-null     object
 8   limited                  83 non-null     object
 9   ascension_specialty      94 non-null     object
 10  ascension_boss_material  84 non-null     object
 11  talent_weekly            94 non-null     object
 12  hp_90_90                 94 non-null     int64
 13  atk_90_90                94 non-null     int64
 14  def_90_90                94 non-null     int64
 15  hp_1_20                  94 non-null     int64
 16  atk_1_20                 94 non-null     int64
 17  def_1_20                 94 non-null     int64
 18  ascension_special_stat   94 non-null     object
 19  special_0                94 non-null     object
 20  special_6                94 non-null     object
dtypes: int64(7), object(14)
memory usage: 15.5+ KB

In [13]:
df['region'].fillna('Other')

0     Mondstadt
1        Sumeru
2         Other
3     Mondstadt
4       Inazuma
        ...
89        Liyue
90        Liyue
91      Inazuma
92        Liyue
93        Liyue
Name: region, Length: 94, dtype: object

In [14]:
df.dropna(subset=['limited'], inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83 entries, 0 to 93
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   character_name           83 non-null     object
 1   star_rarity              83 non-null     int64
 2   region                   83 non-null     object
 3   vision                   83 non-null     object
 4   weapon_type              83 non-null     object
 5   release_date             83 non-null     object
 6   model                    83 non-null     object
 7   birthday                 83 non-null     object
 8   limited                  83 non-null     object
 9   ascension_specialty      83 non-null     object
 10  ascension_boss_material  83 non-null     object
 11  talent_weekly            83 non-null     object
 12  hp_90_90                 83 non-null     int64
 13  atk_90_90                83 non-null     int64
 14  def_90_90                83 non-null     int64
 15  hp_1_20                  83 non-null     int64
 16  atk_1_20                 83 non-null     int64
 17  def_1_20                 83 non-null     int64
 18  ascension_special_stat   83 non-null     object
 19  special_0                83 non-null     object
 20  special_6                83 non-null     object
dtypes: int64(7), object(14)
memory usage: 14.3+ KB

In [16]:
df.head()

,character_name,star_rarity,region,vision,weapon_type,release_date,model,birthday,limited,ascension_specialty,...,talent_weekly,hp_90_90,atk_90_90,def_90_90,hp_1_20,atk_1_20,def_1_20,ascension_special_stat,special_0,special_6
0,Albedo,5,Mondstadt,Geo,Sword,2020-12-23,Medium Male,13-Sep,True,Cecilia,...,Tusk of Monoceros Caeli,13226,251,876,1030,20,68,Geo DMG Bonus,0.00%,28.80%
1,Alhaitham,5,Sumeru,Dendro,Sword,2023-01-18,Tall Male,11-Feb,True,Sand Grease Pupa,...,Mirror of Mushin,13348,313,781,1039,24,60,Dendro DMG Bonus,0.00%,28.80%
3,Amber,4,Mondstadt,Pyro,Bow,2020-09-28,Medium Female,10-Aug,False,Small Lamp Grass,...,Dvalin's Sigh,9461,223,601,793,19,50,ATK,0.00%,24.00%
4,Arataki Itto,5,Inazuma,Geo,Claymore,2021-12-14,Tall Male,01-Jun,True,Onikabuto,...,Ashen Heart,12858,227,959,1001,18,75,CRIT Rate,0.00%,19.20%
5,Arlecchino,5,Snezhnaya,Pyro,Polearm,2024-04-24,Tall Female,22-Aug,True,Rainbow Rose,...,Fading Candle,13103,342,765,1020,27,60,CRIT DMG,0.00%,38.40%

Будем работать с таким датасетом, сохраним его на будущее

In [17]:
df.to_csv('final_dataset.csv')